@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


header ul {
    padding-left: 0px;
    text-align: center;
    
    

}
header li{
    display: inline-block;
    list-style: none;
    margin-top: 0px;
   
}
section li{
    display: inline-block;
    list-style: none;
    margin-top: 0px;
   

}
*{
    margin: 0px;
    padding: 0px;
}

.bg{
    
    
    
    background-position: right;
    

    
    background-size: cover  ;
    background-repeat: no-repeat;
    position: relative;

}@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    
    padding-left: 0.5rem;
}

.blob1{
    top:15%;
    left:-30%;
    
    position: fixed;
}

.blob2{
    bottom:-35%;
    right:-50%;
    position: fixed;
    z-index: 0;

}
.swir1{
    top: 15%;
    position: fixed;
    left: 10%;
}

navbar li{
    display: inline-block;
    list-style: none;
    margin-top: 2rem;
}
.list-left li{
    color: black;
    list-style: none;
    text-decoration: none;
    margin-left: 5px;
   
}
.logo{
    float: left;
    margin-right: 580px;
    
}
.list-left-1{
    color: black;
    border: none;
    font-size: large;
    font-weight: bold;
    background-color: transparent;
    font-family: "Madimi One",sans-serif;
    border-radius: none;
    cursor: pointer;
    vertical-align: top;
    opacity: 1;
    float: right;

}
.style{
    color: black;
    border: none;
    font-size: large;
    font-weight: bold;
    background-color: transparent;
    font-family: "Madimi One",sans-serif;
    border-radius: none;
    cursor: pointer;
    vertical-align: top;
    opacity: 1;
    float: right;
    
}
.happystory-button{
    color: rgb(220,0,49);
}

 .orderonline-button:hover,
 .happymenu-button:hover,
 .happycrew-button:hover,
 .happystory-button:hover,
 .contactus-button:hover{
    background-color: white;
    color: #0d9a;
}

  .images{
    display: flex;
  }
 .swirl{
    
 margin-left: 300px; 
 position: relative;
 flex: 50%;
 
 }
  
 .blob1{
    margin-left: 5px;
    
 }  

 

.hotel{
border-radius: 100px;
margin-left: 150px;
}
.address{
color: black;
font-size: medium;
font-weight: 800;
font-family:"Madimi One", sans-serif ;
height: 200px;
width: 400px;

margin-left: 180px;
margin-top: 8px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: left;

}

.form{

margin-left: 130px;
margin-inline-start: 0%;
margin-top: auto;


}

.position{
    color: black;
font-size: medium;
font-weight: 800;
font-family:"Madimi One", sans-serif ;
height: 200px;
width: 400px;

margin-left: -100px;
margin-top: 8px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: left;


}
.checkbox1{
color: black;
font-size: medium;
font-weight: 700;
font-family:"Madimi One", sans-serif ;


margin-left: -100px;
margin-top: 5px;
transition: opacity 0.15s;

text-align: left;
}
.checkbox2{
    color: black;
font-size: medium;
font-weight: 700;
font-family:"Madimi One", sans-serif ;


margin-left: 10px;
margin-top: 5px;
transition: opacity 0.15s;

text-align: left;
}

.footer {
    font-size: medium;
  font-weight: bold;
  font-family:"Madimi One", sans-serif ;
    margin-left: 5px;
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
    color: black;
 text-align: left;
}

.ordernow-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: 2px;
    height: 36px;
    width: 140px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;

    margin-top: 20px;
    transition: opacity 0.15s;
    vertical-align: bottom;
    vertical-align: baseline;
    border-color: black ;
  }

  .ordernow-button:hover {
    background-color: white;
    color: red;
    opacity: 0.8;
    border: 2px solid red ;
  }

  .ordernow-button:active {
    opacity: 0.5;
  }
    .heading {
       
    color: red;
    font-size: x-large;
    font-weight: bold;
    font-family:"Madimi One", sans-serif ;
    height: 25px;
    width: 1500px;
    

    margin-top: 5px;
    transition: opacity 0.15s;
    vertical-align:middle;
    text-align: center;

    }
   
.ordernow-button{
  position: fixed;
    top: 800px;
    right: 35px; 
    border: 2px solid red ;

}        

.CREW   {
    color:rgb(220,0,49);
    font-size: xx-large;
    font-weight: 1000;
    font-family:"Madimi One", sans-serif ;
    font-style: bold;
    height: 25px;
    width: 1400px;
    
    
    margin-top: -60px;
    transition: opacity 0.15s;
    vertical-align:middle;
    text-align: center;
    margin-left: 100px;

}

.application{
    color: rgb(220,0,49);
    font-size: x-large;
    font-weight: 1000;
    font-family:"Madimi One", sans-serif ;
    

    margin-left: -180px;
    margin-top: -20px;
    transition: opacity 0.15s;
    vertical-align:center;
    text-align: left;
    
}
.container {
    display: flex;
    height: 5em;
    width: 120%;
    margin-left: 130px;
  
  }
.work{
   

    color: rgb(220,0,49);
    font-size: x-large;
    font-weight: 1000;
    font-family:"Madimi One", sans-serif ;
    width: 50%;
    display :inline-block;    

    margin-left: 130px;
    margin-top: 1px;
    transition: opacity 0.15s;
    vertical-align:middle;
    text-align: left;

}
.form-main{
    margin-left: 30px;
   
    margin-top: auto;
    
        width: 50%;
    
    
    }

.work1{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: large;
    font-weight: 1000;
    font-family:"Madimi One", sans-serif ;
    width: 50%;
    margin-left: 130px;
    margin-top: 1px;
    transition: opacity 0.15s;
    vertical-align:middle;
    text-align: left;
    display :inline-block;   



}

.story{
    vertical-align: middle;
    color: rgb(220,0,49);
font-size: xx-large;
font-weight: 1000;
font-family:"Madimi One", sans-serif ;
font-style: bold;
height: 25px;
width: 1400px;


margin-top: 20px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
margin-left: 100px;
}

.photo1{
    vertical-align: middle; 
    margin: 0px 0px 32px;
    max-width: 200px;
    margin-top: 40px;
    margin-left:700px;
}

.wrap{

    text-align: center;
    display: block;
    margin-top:5px;
    margin-left: 600px;
    margin-right: 500px;
    color: #404040;
    font-family: "Madimi One", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: inherit;
}
.happy-story__line{
    
    margin-left: 600px;
    margin-right: 500px;


}

.happy-story__story{
    margin-left: 750px;
    margin-top: 5px;
    display: inline-block;
   
   
}

.heading{

    vertical-align: middle;
    color: rgb(220,0,49);
font-size: xx-large;
font-weight: 1000;
font-family:"Madimi One", sans-serif ;
font-style: bold;
height: 25px;
width: 1400px;


margin-top: 60px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;


}

.heading1{
    vertical-align: middle;
    color: rgb(220,0,49);
font-size: xx-large;
font-weight: 1000;
font-family:"Madimi One", sans-serif ;
font-style: bold;



margin-top: -50px;
margin-left: -300px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;

}
.wrap1{

text-align: center;
display: block;
margin-top:5px;


color: #404040;
font-family: "Madimi One", sans-serif;
font-size: 1rem;
line-height: 1.5;

margin-left: 50px;
margin-right: 200px;
max-width: 800px;

}

.heading2{
    vertical-align: middle;
    color: rgb(220,0,49);
font-size: xx-large;
font-weight: 1000;
font-family:"Madimi One", sans-serif ;
font-style: bold;



margin-top: -50px;
margin-left: -400px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;

}

.wrap2{
    text-align: center;
display: block;
margin-top:5px;


color: #404040;
font-family: "Madimi One", sans-serif;
font-size: 1rem;
line-height: 1.5;

margin-left: -400px;
margin-right: 200px;
max-width: 400px;

}

.heading3{
    vertical-align: middle;
    color: rgb(220,0,49);
font-size: xx-large;
font-weight: 1000;
font-family:"Madimi One", sans-serif ;
font-style: bold;



margin-top: -50px;
margin-left: -450px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;

}

.wrap3{
    text-align: center;
    display: block;
    margin-top:5px;
    
    
    color: #404040;
    font-family: "Madimi One", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    
    margin-left: 50px;
    margin-right: 200px;
    max-width: 800px;   
 
}

.heading4{
    vertical-align: middle;
    color: rgb(220,0,49);
font-size: xx-large;
font-weight: 1000;
font-family:"Madimi One", sans-serif ;
font-style: bold;



margin-top: -50px;
margin-left: -600px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;


}

.wrap4{

    text-align: center;
display: block;
margin-top:5px;


color: #404040;
font-family: "Madimi One", sans-serif;
font-size: 1rem;
line-height: 1.5;

margin-left: -400px;
margin-right: 200px;
max-width: 400px;


}

.tea{
    position: absolute;
    top: 20%;
    right:10%;
    height: 200px;
width: 200px;
}

.footer1{
        margin-left: 30%;
        bottom: 0%;
        left: 50%;
  }