
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
*{
    font-size: 62.5%;
    padding-left: 0.5rem;
    background-color: white;
}


.logo{
    float: left;
    margin-left: 1em;
}       
header li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

.style{
    color: black;
    border: none;
    font-size: large;
    font-weight: bold;
    background-color: transparent;
    font-family: "Poppins",sans-serif;
    border-radius: none;
    cursor: pointer;
    vertical-align: top;
    opacity: 1;
    float: right;
    margin-right: 1.5em;
    text-decoration: none;
}

.aboutus-button{
    color: rgb(14, 202, 223);
}
 .aboutus-button:hover,
 .menu-button:hover,
 .sweets-button:hover,
 .gallery-button:hover,
 .contactus-button:hover{
    background-color: transparent;
    color: rgb(14, 202, 223);
    font-size: x-large;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 1px;
}
.nav-bar li{
    text-decoration: none;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 20%;
    right: 10px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}

  .slidershow{
    margin-top: 60px;
    width: 100%;
    height: 42vw;
    overflow: hidden;
    z-index: 500;
    position: relative;

    
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 500;
    

  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: transparent;
  }
  .bar{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    background-color: transparent;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
    
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;

  }
  .slide img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40.25%;
  }
  #r4:checked ~ .s1{
    margin-left: -60.2%;
  }

  .overlay1 h1 {
    
    position: absolute;
    justify-content: center;
    color: yellow;
    font-size: 100px;
    text-align: center;
    margin-left: 600px;
    margin-top: 250px;
    font-family: "Dancing Script", cursive;
    background-color: transparent;
    z-index: 1;

  } 

  .div1{
   height: 400px;
}
.story{
  vertical-align: middle;
  color: rgb(14, 202, 223);
font-size: xxx-large;
font-family:"Poppins", sans-serif ;
font-style: bold;
margin-top: -250px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;


}

.photo1{
  margin-top:1px ;
  padding-left: 34%;
  
}

.wrap{

  text-align: left;
  display: block;
  margin-top: -3em;
    text-align: left;
    padding-left:45%;
    padding-right: 20%;
  color:black;

  font-family:"Poppins", sans-serif ;
  font-size: 1.5rem;
  line-height: 1.5;
  box-sizing: inherit;
}


.happy-story__story img{
  float: left;
  padding-left: 20%;
  
  flex:1;
 
 
}
.heading1{
  vertical-align: middle;
  color: rgb(14, 202, 223);
font-size: xx-large;
font-family:"Poppins", sans-serif ;
font-style: bold;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
float: left;
margin-top: 0.1em;
}
.wrap1{

text-align: left;
display: inline-block;
margin-top:-15px;

font-family:"Poppins", sans-serif ;
font-size: 1.5rem;
line-height: 1.5;
box-sizing: inherit;
padding-left: 23%;
padding-right: 55%;
margin-bottom: 25px;

}
i {
  color: orange;
  font-size: 2.5em;
  text-align: center;
}
.happy-story__story1   {
  margin-left: 850px;
  margin-top: -230px;
  
 
 
}

.happy-story__story11 img{
    margin-top: -50px;
    margin-left: 870px;
}

.heading2{
  vertical-align: middle;
  color: rgb(14, 202, 223);
font-size: xx-large;
font-family:"Poppins", sans-serif ;
font-style: bold;
margin-top: -50px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
margin-left: -250px;

}

.heading5{
  vertical-align: middle;
  color: rgb(14, 202, 223);
font-size: xx-large;
font-family:"Poppins", sans-serif ;
font-style: bold;
margin-top: -250px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
margin-left: 60px;
margin-bottom: 0%;
z-index: 10;

}
.heading6{
  vertical-align: middle;
  color:yellow;
font-size: large;
font-weight: bold;
font-family:"Poppins", sans-serif ;
font-style: bold;
margin-top: 5px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
margin-left: -250px;

margin-bottom: 15px;
z-index: 10;

}
.wrap2{
  
text-align: left;
display: inline-block;
margin-top:-3px;

font-family:"Poppins", sans-serif ;
font-size: 1.5rem;
line-height: 1.5;
box-sizing: inherit;
margin-left: 70px;
margin-right: 230px;
}

.wrap22{
  
    text-align: left;
    display: inline-block;
    margin-top:-3px;
    
    font-family:"Poppins", sans-serif ;
    font-size: 1.5rem;
    line-height: 1.5;
    box-sizing: inherit;
    margin-left: 870px;
    margin-right: 230px;
    }
    

.box1{
  height: 550px;
  width: 1500px;
  border: 0px solid black;
  position: relative;
}

.photo-left{
  float: right;
  display: block;
  z-index: 50;
  height:460px;
  width: 460px;
  border-radius: 5%;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;

}

.heading-left{
  color: rgb(14, 202, 223);
font-size: xx-large;
font-weight: bold;
font-family:"Poppins", sans-serif;


float: left;
margin-left: 270px;
margin-top: 50px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
background-color: transparent;
left: 100px;
bottom: 0%;


}


.heading-left1{
  color: yellow;
font-size: large;
font-weight: bold;
font-family:"Poppins", sans-serif;


float: left;
margin-left: 380px;
margin-top: -15px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
background-color: transparent;
left: 100px;
bottom: 0%;


}



.wrap3{
  float: left;
  text-align: left;
  display: block;
  font-family:"Poppins", sans-serif ;
  font-size: 1.5rem;
  box-sizing: inherit;
  margin-left: 250px;
  margin-right: 800px;
  margin-top: -400px;
}

.heading-left2{
  color: yellow;
font-size: large;
font-weight: bold;
font-family:"Poppins", sans-serif;


float: left;
margin-left: -280px;
margin-top: 40px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
background-color: transparent;



}

.heading-right3{
  color: black;
font-size: large;
font-weight: bold;
font-family:"Poppins", sans-serif;


float: right;
margin-left: 350px;
margin-top: 1px;
margin-bottom: -4px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
background-color: transparent;
z-index: 50;



}

@media(max-width: 610px){
  .menu {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    display: inline;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;
    background-color:white;

    transition: all 0.2s ease-in-out;
}
html,body{
    overflow-x: hidden;
}
body {
    position: relative
  }
.menu li {
    margin-top: 60px;
    margin-left: 25%;
    margin-right: 35%;
    display: block;
    text-align: left;
    justify-content: center;
}
    .menu li a {padding: 5px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}

}

@media (max-width:500px){
  .slidershow{
    margin-top: -280%;
    margin-left: -4%;
  }
  .story {
    margin-top: 100px;
    padding-left: 24%;
    margin-left: 20%;

}
.photo1{
 display: none;
}
.story b{
  margin-left: -280px;
}
.story{
    margin-top: -100px;
    margin-left: -10px;
}
.wrap{
  text-align: left;
  /* display: block; */
  margin-top: -55px;
  padding-left: 5%;  
  padding-right: 5%;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  box-sizing: inherit;

}
.happy-story__story img{
  margin-left: -22%;
  margin-top: 120px;
}
.heading1{
  color: rgb(14, 202, 223);
    font-size: xx-large;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    margin-top: 120px;
    transition: opacity 0.15s;
    vertical-align: middle;
    text-align: center;
    margin-left: -1px;
}
.wrap1{
  text-align: left;
  /* display: block; */
  margin-top: -15px;
  padding-left: 5%;  
  padding-right: 5%;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  box-sizing: inherit;
}
.happy-story__story1   {
    margin-left: 390px;
    /* margin-top: -230px; */
    
   
   
  }
.happy-story__story1 img{
    margin-top: 200px;
  margin-left: -400px;
}
.heading2{
  color: rgb(14, 202, 223);
    font-size: xx-large;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    margin-top: -55px;
    transition: opacity 0.15s;
    vertical-align: middle;
    text-align: center;
    margin-left: -430px;
}
.wrap2{
  text-align: left;
  /* display: block; */
  margin-top: -15px;
  padding-left: 5%;  
  
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  box-sizing: inherit;
  margin-left: -380px;
  margin-right: 50px;
}

.box1{
    width: 90vw;
    height: 500px;
}
.heading-left{
  margin-left: 40px;
  margin-top: 10px;
  transition: opacity 0.15s;
  font-size: x-large;
  background-color: transparent;
  left: 100px;
  bottom: 0%;
  
  
  }
  
  
  .heading-left1{
    color: yellow;
  font-size: large;
  font-weight: bold;
  font-family:"Poppins", sans-serif;
  
  
  
  margin-left: 120px;
  margin-top: -10px;
  transition: opacity 0.15s;
  vertical-align:middle;
  text-align: center;
  background-color: transparent;
  left: 100px;
  bottom: 0%;
  
  
  }
  
  
  
  .wrap3{
    
    text-align: left;
    
    font-family:"Poppins", sans-serif ;
    font-size: 1.5rem;
    max-width: fit-content;
    padding-left: 5%;
    
    margin-left: -5px;
    margin-right: 5px;
    margin-top: -10px;
  }
  .photo-left{
    height: 400px;
    width: 400px;  
    
    float: left;
}
.heading-left2{
    margin-top: 160px;
}

.heading5{
    margin-top: 10px;
    margin-left: -180px;
}
.heading6{
    margin-left: -60px;
}
.wrap22{
    text-align: left;
    /* display: block; */
    margin-top: -15px;
    padding-left: 5%;  
    
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    box-sizing: inherit;
    margin-left: 0px;
    margin-right: 50px;   
}
}

.happymenu1{
    color: rgb(8, 218, 242);
font-size: xxx-large;
font-weight: 1000;
font-family:"Poppins", sans-serif ;

margin-top: -15px;
margin-left: 10px;
margin-bottom: -5px;
transition: opacity 0.15s;
vertical-align:middle;
text-align: center;
}

